*.csv
*.txt
*.log
*.pdf
*.gv
*.ps
*.png
*.svg
*.dot
*.graphml

/omp-*

/trace/
/scratch/
/.vscode/

# The following line is only needed temporarily while we have another branch using a different directory strcuture
# This line should be deleted once the CMake branch is merged into dev
/include/otter/

/workspace.code-workspace

!/docs/*.svg
