*.csv
*.txt
*.log
*.pdf
*.gv
*.ps
*.png
*.svg
*.dot
*.graphml

!CMakeLists.txt

/omp-*

/build*/
/trace/
/scratch/
/reports/
/notes/
/doxygen/
/.vscode/

/workspace.code-workspace

!/docs/*.svg

/include/public/otter-version.h
/include/otter/otter-version.h

/*.sh
